[Unit]
Description=Photoprism Container
After=local-fs.target network-online.target

Requires=mariadb.service

[Container]
Image=docker.io/photoprism/photoprism:latest
ContainerName=photoprism
AutoUpdate=registry

PublishPort=2342:2342

AddDevice=/dev/dri/renderD128:/dev/dri/renderD128

Network=photo.network

Environment=PHOTOPRISM_UPLOAD_NSFW=true
Environment=PHOTOPRISM_SPONSOR=true
Environment=PHOTOPRISM_FFMPEG_ENCODER=intel
Environment=PHOTOPRISM_FFMPEG_SIZE=1920
Environment=PHOTOPRISM_FFMPEG_BITRATE=32
#Environment=PUID=1000
#Environment=PGID=1000
Environment=PHOTOPRISM_DATABASE_DRIVER=mysql
Environment=PHOTOPRISM_DATABASE_SERVER=photoprism-mariadb:3306
Environment=PHOTOPRISM_DATABASE_NAME=photoprism
Environment=PHOTOPRISM_DATABASE_USER=photoprism
Environment=PHOTOPRISM_DATABASE_PASSWORD=photoprism

Secret=photoprism_password,type=env,target=PHOTOPRISM_ADMIN_PASSWORD

Volume=/var/data/photoprism/cache:/photoprism/storage:Z
Volume=/var/data/photoprism/orig:/photoprism/originals:z

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
