[Install]
WantedBy=default.target

[Container]
Image=docker.io/gitlab/gitlab-runner:latest
AutoUpdate=registry
Volume=/var/lib/gitlab-runner/config/:/etc/gitlab-runner/:ro
Volume=/usr/lib/systemd/user/podman.socket:/var/run/docker.sock

[Service]
Restart=always
