[Unit]
Description=Homeassistant Container
After=local-fs.target network-online.target

[Container]
Image=ghcr.io/home-assistant/home-assistant:stable
ContainerName=homeassistant
AutoUpdate=registry

AddCapability=NET_RAW

Network=host

User=1000
Group=1000

Environment=TZ=Europe/Berlin

Volume=/home/admin/config/homeassistant/:/config:Z

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
