[Unit]
Description=Jellyfin Container
After=local-fs.target network-online.target

RequiresMountsFor=/var/mnt/media

[Container]
Image=docker.io/jellyfin/jellyfin:latest
ContainerName=jellyfin
AutoUpdate=registry

PublishPort=8096:8096

AddDevice=/dev/dri/renderD128:/dev/dri/renderD128

User=1000
Group=1000

Volume=jellyfin-cache:/cache:Z
Volume=/var/config/jellyfin:/config:Z
Volume=/var/mnt/media/:/media:ro

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
