[Unit]
Description=Sonarr Container
After=local-fs.target network-online.target
BindsTo=gluetun.service
After=gluetun.service

RequiresMountsFor=/mnt/ssd
RequiresMountsFor=/mnt/disk1
RequiresMountsFor=/mnt/disk2
RequiresMountsFor=/mnt/disk3

[Container]
Image=cr.hotio.dev/hotio/sonarr:latest
ContainerName=sonarr
AutoUpdate=registry

Network=container:gluetun

Environment=PUID=1000
Environment=PGID=1000
Environment=UMASK=002
Environment=TZ=Europe/Berlin

Volume=/home/admin/config/sonarr/:/config:Z
Volume=/mnt/pool/media/:/data:z

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target