[Unit]
Description=Sonarr Container
After=local-fs.target network-online.target
BindsTo=gluetun.service
After=gluetun.service

RequiresMountsFor=/var/mnt/media

[Container]
Image=ghcr.io/hotio/sonarr:latest
ContainerName=sonarr
AutoUpdate=registry

Network=container:gluetun

Environment=PUID=1000
Environment=PGID=1000
Environment=UMASK=002
Environment=TZ=Europe/Berlin

Volume=/var/config/sonarr/:/config:Z
Volume=/var/mnt/media/:/data:z
Volume=Downloads:/downloads:z

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
