[Unit]
Description=Unbound Container
After=local-fs.target network-online.target

[Container]
Image=docker.io/mvance/unbound:latest
ContainerName=unbound
AutoUpdate=registry

Network=host


Volume=/home/admin/config/unbound/unbound.conf:/opt/unbound/etc/unbound/unbound.conf:Z
Volume=/home/admin/config/unbound/a-records.conf:/opt/unbound/etc/unbound/a-records.conf:Z

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target